<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mementos.moments">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PromoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".PrivacyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TermActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TesActivity" />
        <activity
            android:name=".ContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhoneSignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.SearchingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.BookingDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.DateTimeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.EventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.PrewedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.WeddingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetail.GraduationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhoneLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>